# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environment
venv/
env/
virt/
.venv/

# Django stuff
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
local_settings.py
db.sqlite3

# Media / uploads
/media
/staticfiles
/static

# VS Code
.vscode/

# Mac OS
.DS_Store

# Environment variable file
.env
