{% extends "base.html" %}
{% block content %}

<div class="card">
  <div class="card-header">
    <h1>{{ customer_record.first_name }} 
    {{ customer_record.last_name }}</h1> 
  </div>
  <div class="card-body">
    <h5>Details Record</h5>
    <table class="table table-striped table-hover table-bordered">

        <tr>
            <td><strong>Email </strong></td>
            <td>{{ customer_record.email }}</td>
        <tr>
            <td><strong>Phone </strong></td>
            <td>{{ customer_record.phone }}</td>
        </tr>
        <tr>
            <td><strong>Address </strong></td>
            <td>{{ customer_record.address }}</td>
        </tr>
        <tr>
            <td><strong>City </strong></td>
            <td>{{ customer_record.city }}</td>
        </tr> 
        <tr>
            <td><strong>State </strong></td>
            <td>{{ customer_record.state }}</td>
        </tr>
        <tr>
            <td><strong>Zipcode </strong></td>
            <td> {{ customer_record.zipcode }}</td>
        </tr> 
        <tr>
            <td><strong>Created at </strong></td>
            <td>{{ customer_record.created_at }}</td>
        </tr>
        
         
    </table>
  </div>
</div>
<br/><br/>
<a href="{% url 'home' %}" class="btn btn-outline-secondary">Back</a>



{% endblock %}